<<<<<<< HEAD
body {
  background-color: #fff;
}
.container {
  margin: 0 auto;
}
.img-logo-left {
  background-image: url("../img/full-moon.jpeg");
  background-size: cover;
  background-position: bottom;
  width: 200px;
}

.img-logo-right {
  background-image: url("../img/full-moon.jpeg");
  background-size: cover;
  background-position: center right;
  width: 200px;
}
.lg-height {
  height: 650px;
}

.intro-content {
  background-color: grey;
}

.link-content {
  background-color: yellow;
}

.md-height {
  height: 325px;
=======
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* Header styles */
.logo-img {
  height: 70px;
}

.logo-wrapper {
  width: 50%;
}

.logo-text {
  font-family: 'Satisfy', cursive;
  color: #f2767E;  /*orange/pink hightlight*/
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/*JUMBOTRON */
.jumbotron {
  background-image: url("../img/hero.jpg");
  height: 450px;
  background-size: cover;
  background-position: center;
}

.hero-text {
  color: #fff;
  font-weight: 400;
}

/* Products styles*/
.thumbnail {
  background-color: #edf1f4;
  padding: 7px;
}

.product-img {
  padding: 0px 7.5px;
}


/*FOOTER*/

footer {
  height: 200px;
  background-color: #333;
  padding: 16px;
}

footer a, footer a:hover {
  color: #bfc0c1;
}
footer img.logo-img {
  height: 150px;

}

.address-border {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

address {
  color: #fff;
}

address>a {
  color: #BFC0C1;
}

address>a:hover {
  color: #fff;
  text-decoration: none;
}

.dis-block {
  display: block;
>>>>>>> 4ffdbd8bbe465556d648eeb6b28b054d1640b3c8
}
