body {
  background-color: #fff;
}
.container {
  margin: 0 auto;
}
.img-logo-left {
  background-image: url("../img/full-moon.jpeg");
  background-size: cover;
  background-position: bottom;
  width: 200px;
}

.img-logo-right {
  background-image: url("../img/full-moon.jpeg");
  background-size: cover;
  background-position: center right;
  width: 200px;
}
.lg-height {
  height: 650px;
}

.intro-content {
  background-color: grey;
}

.link-content {
  background-color: yellow;
}

.md-height {
  height: 325px;
}
